<app-navbar></app-navbar>
<!-- BANNER -->
<div class="block">
  <div class="banner">
      <img src="assets/img/chauffeurs.jpg" alt="personne avec mobile" class="banner-image">
      <div class="banner-content">
          <h1 class="title is-1">CHAUFFEURS</h1>
          <h2 class="subtitle">Devenez chauffeur
              Gagnez de l'argent selon votre propre emploi du temps !</h2>
          <button class="button is-link">Inscription !</button>
      </div>
  </div>
</div>
<!-- BANNER -->
<h1 class="title is-1"><strong>Conduisez quand vous voulez</strong></h1>

<br>
<hr>
<!-- SECTION : À PROPOS -->
<div class="block">
  <div class="container about">
      <div class="columns">
          <div class="column about-single-element">
              <i class="fas fa-euro-sign"></i>
              <p><strong>Gagnez de l'argent partout, à tout moment</strong></p>
          <p>
              Conduisez quand et où vous le voulez. De plus, choisissez la fréquence et le mode de versement de vos paiements.
          </p>
          </div>
          <div class="column about-single-element">
              <i class="fab fa-accusoft"></i>
              <p><strong>Choisissez votre emploi du temps</strong></p>
              <p>
                  Décidez quand vous conduisez. Pas de bureau, pas de patron. Avec l'app Vtc Land, c'est vous qui décidez de votre horaire.
              </p>
          </div>
          <div class="column about-single-element">
              <i class="far fa-address-card"></i>
          <p><strong>Inscrivez-vous en toute simplicité</strong></p>
              <p>
                  Inscrivez-vous pour avoir accès à l'app. Une fois l'activation de votre compte terminée, vous pourrez commencer à gagner de l'arge
              </p>
          </div>
      </div>
  </div>
</div>

<!-- SECTION : À PROPOS -->

