<div class="card">
  <div class="card-header text-white bg-info">
    S'enregister
  </div>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" formControlName="nom" placeholder="Nom">
        </div>
        <div class="col-md-6 mb-3">
          <label>Prénom</label>
          <input type="text" class="form-control" formControlName="prenom" placeholder="Prénom">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label>E-MAIL</label>
          <input type="text" class="form-control" formControlName="email" placeholder="Votre e-mail">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label>Password</label>
          <input type="text" class="form-control" formControlName="password" placeholder="Votre password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label>Téléphone</label>
          <input type="text" class="form-control" formControlName="telephone" placeholder="Votre téléphone">
        </div>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-info text-white">
          Créez votre compte !
        </button>
      </div>
    </form>
  </div>
</div>
