<!-- HEADER -->
<div class="row">
  <header class="header">
      <a [routerLink]="['/home'] " class="header-logo">VTC LAND</a>
      <app-navbar></app-navbar>
  </header>
</div>

 <!-- BANNER -->
 <div class="block">
  <div class="banner">
      <img src="assets/img/mobile4.jpg" alt="personne avec mobile" class="banner-image">
      <div class="banner-content">
          <h1 class="title is-1">WELCOM TO VTC LAND</h1>
          <h2 class="subtitle">Déplacez-vous avec des chauffeurs expérimentés !</h2>
          <button class="button is-link">Commander !</button>
      </div>
  </div>
</div>

<!-- BANNER -->
<h1 class="title is-1"><strong>Où que vous alliez, votre sécurité est au cœur de nos priorités</strong></h1>
<br>
<hr>
<!-- SECTION : À PROPOS -->
<div class="block">
    <div class="container about">
        <div class="columns">
            <div class="column about-single-element">
                <i class="fas fa-car icon"></i>
                <p><strong>Notre engagement pour votre sécurité</strong></p>
            <p>
                Chaque fonctionnalité de sécurité et chaque clause de notre Charte de la communauté contribuent à créer un environnement sûr pour nos utilisateurs.
            </p>
            </div>
            <div class="column about-single-element">
                <i class="fas fa-road icon"></i>
                <p><strong>Nous aidons plus de 10 000 villes</strong></p>
                <p>
                    L'application est disponible dans des milliers de villes du monde entier : vous pouvez donc commander une course même lorsque vous êtes loin de chez vous.
                </p>
            </div>
            <div class="column about-single-element">
            <i class="fas fa-home icon"></i>
            <p><strong>Citoyens du monde</strong></p>
                <p>
                    Nous mettons tout en œuvre pour avoir un impact positif sur les villes où nous opérons.
                </p>
            </div>
        </div>
    </div>
</div>


