<!-- HEADER -->
<header>
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <a class="navbar-brand" href="#"><img class="vtc-img" src="../assets/img/vtc.jpg" alt="vtc"></a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#toggleMobileMenu" 
        aria-controls="toggleMobileMenu" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/chauffeur']">Chauffeur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/client']">Client</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>

</header>

