.img-vtc {
  height: 150px;
}

h1 {
  color: rgb(8, 8, 8);
}

.row {
  background-color: #a8c0ff
}

.read-more {
  color: #fff;
  text-decoration: none;
}

.user {
  color: #375fc2;
  font-size: 32px;
}