
<section class="mt-5">
  <div class="containers">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img src="../assets/img/chauffeurs.jpg" alt="chauffeurs"></ng-template>
      <ng-template carouselSlide><img src="../assets/img/clients.jpg" alt="clients"></ng-template>
      <ng-template carouselSlide><img src="../assets/img/mobile1.jpg" alt="mobile1"></ng-template>
      <ng-template carouselSlide><img src="../assets/img/mobile2.jpg" alt="mobile2"></ng-template>
      <ng-template carouselSlide><img src="../assets/img/mobile3.jpg" alt="mobile3"></ng-template>
      <ng-template carouselSlide><img src="../assets/img/mobile4.jpg" alt="mobile4"></ng-template>
    </owl-carousel-o>
  </div>
</section>
